/* Основной цвет текста #212121 */
/* Вторичный цвет текста #757575 */
/* Основной цвет фона #E5E5E5 */
/* Вторичный цвет фона #2F303A */
/* Акценты #2196F3 */
:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --accent-color: #2196f3;
}
body {
  color: var(--main-text-color);
  background-color: #e5e5e5;
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
}
/* Шапка сайта */
.logo {
  color: var(--main-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}
/* .logo:hover,
.logo:focus {
  color: #2196f3;
} */
.blue-logo {
  color: #2196f3;
}
.site-nav .link {
  color: var(--main-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
  text-decoration: none;
}
.contact-list .link {
  color: #757575;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contact-list .link:hover,
.contact-list .link:focus {
  color: #2196f3;
  text-decoration: none;
}
/* Главный блок */
/* Герой */
.hero {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}
.hero-title {
  color: #ffffff;
  font-weight: 900px;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Особенности */
.section {
  color: var(--main-text-color);
}
.peculiarities-title {
  display: none;
}
.peculiarities-list .title {
  color: var(--main-text-color);
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
}
.peculiarities-list .paragraphly {
  color: #757575;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.7;
}
.section-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Подвал сайта */
.footer {
  color: #ffffff;
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}
.footer .logo {
  color: #ffffff;
}
.logo:hover,
.logo:focus {
  color: #2196f3;
}
.address-list .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address-list .link:hover,
.address-list .link:focus {
  color: #2196f3;
  text-decoration: underline;
}
