/* Основной цвет текста #212121 */
/* Вторичный цвет текста #757575 */
/* Основной цвет фона #E5E5E5 */
/* Вторичный цвет фона #F5F4FA, #2F303A */
/* Белый #FFFFFF */
/* Акценты #2196F3 */
body {
  background-color: #e5e5e5;
  color: #212121;
}
ul {
  list-style: none;
}
/* Шапка сайта */
.logo {
  color: #212121;
  text-decoration: none;
}
.logo:hover {
  color: #2196f3;
  text-decoration: underline;
}
.blue-logo {
  color: #2196f3;
}
.site-nav .link {
  color: #212121;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
  text-decoration: underline;
}
.contact-list .link {
  color: #757575;
  text-decoration: none;
}
.contact-list .link:hover,
.contact-list .link:focus {
  color: #2196f3;
  text-decoration: underline;
}
/* Главный блок */
/* Герой */
.hero {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}
.hero-title {
  color: #ffffff;
}
/* Особенности */
.section {
  color: #212121;
}
.peculiarities-title {
  display: none;
}
.peculiarities-list .title {
  color: #212121;
}
.peculiarities-list .paragraphly {
  color: #757575;
}
/* Подвал сайта */
.footer {
  color: #ffffff;
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}
.footer .logo {
  color: #ffffff;
}
.address-list .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address-list .link:hover,
.address-list .link:focus {
  color: #2196f3;
  text-decoration: underline;
}
